
[colors.primary]
background = '#181818'
foreground = '#d8d8d8'

[colors.normal]

black   = '#585858'
white   = '#f8f8f8'

red     = '%1' #
green   = '%2' #
yellow  = '%3' #
blue    = '%4' #
magenta = '%5' #
cyan    = '%6' #

[colors.bright]

black   = '#585858'
white   = '#f8f8f8'

red     = '%1' #
green   = '%2' #
yellow  = '%3' #
blue    = '%4' #
magenta = '%5' #
cyan    = '%6' #

